@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
    <div class="login-area mb-130 mb-md-70 mb-sm-70 mb-xs-70 mb-xxs-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-md-50 mb-sm-50" style="margin: 0 auto">
                    <div class="lezada-form login-form">
                        <form asp-action="Register" asp-controller="Account" method="POST">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--=======  login title  =======-->

                                    <div class="section-title section-title--login text-center mb-50">
                                        <h2 class="mb-20">Register</h2>
                                        <p>If you don’t have an account, register now!</p>
                                    </div>
                                    @if (ViewData["message"] != null)
                                    {
                                        <div class="text-danger"> @ViewData["message"]</div>
                                    }
                                    <!--=======  End of login title  =======-->
                                </div>
                                <div class="col-lg-12 mb-30">
                                    <label for="regEmail">Email Address <span class="required">*</span> </label>
                                    <input type="text" asp-for="Email" id="regEmail" required>
                                </div>
                                <div class="col-lg-12 mb-50">
                                    <label for="regPassword">Password <span class="required">*</span> </label>
                                    <input type="password" asp-for="Password" id="regPassword" required>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <input type="submit" value="register" class="lezada-button lezada-button--medium">
                                </div>


                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>